@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  
}

[data-theme="light"] {
  .my-btn {
    background-color: #1ea1f1;
    border-color: #1ea1f1;
  }
  .my-btn:hover {
    background-color: #1c96e1;
    border-color: #1c96e1;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


.inter {
  font-family: "Inter", sans-serif;
  
}

*{
  font-family: sans-serif;
}


.userBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  
  align-items: center;
}

.profile-wrapper {
  position: relative;
  cursor: pointer;
}

.profile-img {
  width: 60px;
  
  border-radius: 50%;
}

.dropdown2 {
  position: absolute;
  top: 50px;
  right: 0;
  width: auto;
  background: #e8e7e7;
  color: #333;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
  z-index: 200;
}

.logout-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
}

/* streakBar */
.streak-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff8c00;
  color: white;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 600;
}
.streak-container {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 20px;
}

.streak-bar {
  height: 100%;
  background: orange;
  border-radius: 20px;
}